body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  border: 2px solid #dadada;
  border-radius: 100%;
  box-shadow: 10px 10px 5px #ffe6f2;
      -moz-box-shadow: 10px 10px 5px #ffe6f2;
      -webkit-box-shadow: 10px 10px 5px #ffe6f2;
      -khtml-box-shadow: 10px 10px 5px #ffe6f2;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
  box-shadow: 10px 10px 5px #ffe6f2;
      -moz-box-shadow: 10px 10px 5px #ffe6f2;
      -webkit-box-shadow: 10px 10px 5px #ffe6f2;
      -khtml-box-shadow: 10px 10px 5px #ffe6f2;
}

.skill-row {
  width: 90%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.circular{
    border-radius: 100%;
    overflow: hidden;
    perspective: 1px;
}

.middle-container {
  margin: 100px 0;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 90%;
}

h4 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 10px;
  float: center;
}


p {
  line-height: 2;
  font-size: 80%;
  text-align: justify;
}
