{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Acerca de mí</h1>
            <span class="subheading">Esto es lo que hago.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Mi nombre es Cristina Vello, counselor!</p>
        <p>Espacio que aún es semilla y como tal le faltan horas de riego, cuidado y amor pero siendo vida se mueve en esa dirección...</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}