{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/aboutme.jpeg')}})">
    <link href="{{ url_for('static', filename='css/contact.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Acerca de mí</h1>
            <span class="subheading">Mi recorrido</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="middle-container"   style="position:relative; top:-90px">
          <div classs="profile">
            <h2>¿Quién soy?</h2>
              <div class="skills" style="position:relative; top:-50px">
                <div class="skill-row">
                  <img class="code-img" src="static/img/crisprofile.jpg" alt="cris-profile-img">
                  <p>Mi nombre es María Cristina Vello, y me gusta que me llamen Cris. Soy Consultora Psicológica (Counselor) y próximamente Coach Profesional, además de Licenciada en Educación y Profesora de Nivel Inicial. De todas mis profesiones, elegí impulsar la primera integrando todas las otras, ya que considero que me encuentro en un nivel de madurez en el cuál puedo elegir con mayor sabiduría quién quiero ser y qué caminos seguir para continuar con mi desarrollo humano.
                    Mi intención está puesta en facilitar y desplegar en los otros el potencial de cada uno. Entendiendo esto como un proceso que requiere toma de decisiones, atreverse a revisar creencias y condicionamientos naturalizados, y cierto riesgo. El riesgo que implica todo cambio y, por lo tanto, un salto hacia lo desconocido en búsqueda del propio bienestar.
                  </p>
                </div>
                <div class="skill-row" style="position:relative; top:-70px">
                <img class="chilli-img" src="static/img/histvida.jpg" alt="hist-img">
                  <h3>Mi historia de vida</h3>
                  <p>Debo confesar que llegar a este punto en mi vida, no fue nada fácil. Transité muchos caminos, la mayoría en soledad. Otros, con un poco de ayuda, buscando salir del malestar que cada tanto se presentaba en mí en forma de ansiedad, de incertidumbre, de inconformidad, de irritabilidad, desesperanza, miedo, entre otras manifestaciones.
                      Te cuento que fui madre por primera vez a los 17 años. En esa etapa aprendí lo que significa para mí serlo, a responsabilizarme de mis actos, a buscar un sostén económico para poder satisfacer sus necesidades (y las mías), y tantas otras cosas.
                      No voy a negar que fue un cambio inesperado en mi vida. Recién comenzaba a ser un poco más independiente de mis padres, iniciaba la búsqueda de mi propia identidad, de descubrir mi lugar en el mundo, de pensar qué quería para el futuro. Sin embargo, aquel hecho cambiaría todo lo supuesto y esperable, para dar paso a lo imprevisible e incierto. El ser madre se tornó figura y en el fondo quedó aquella adolescente que recién asomaba su cabeza al mundo. Por un lado, la responsabilidad de una vida independiente a la mía, que a su vez dependía de mí; y por otro, la culpa y la vergüenza invalidante ante la mirada del otro que condena, que exige, que juzga, siendo yo misma mi primera jueza.
                  </p>
                </div>
                <div class="skill-row" style="position:relative; top:-70px">
                <img class="code-img" src="static/img/quiebre.jpeg" alt="quiebre-img">
                  <h3>El quiebre y cambio de perspectiva</h3>
                  <p>Ante esta circunstancia opté por dos salidas: la primera fue trabajar de lo que surja; y la segunda, producto de mi insatisfacción, estudiar. Así fue como mi experiencia laboral tomó un camino, y mis deseos y búsqueda de realización personal, otro.
                    Luego me casé y fui madre por segunda vez, fruto de mi matrimonio. Dada mi auto exigencia puesta en mi rol de madre, volví a sentir que tenía que postergarme. El encuentro conmigo misma, con mi ser auténtico, con mi búsqueda de sentido volvió a frenarse.
                    Encontrarme con la persona que soy hoy, con un poco más de claridad en lo que deseo y quiero, en animarme a tomar decisiones concretas acerca de las actividades que me generan felicidad, a pesar de que “ya estoy grande”, de los “no voy a poder”, “no tengo tiempo”, “no tengo las mismas posibilidades que otros” y tantas otras cosas que me dije (y a veces, me sigo diciendo), no es fácil. El cambio es incierto, el camino no es lineal. Está lleno de tropezones y saltos, de subidas y caídas libres, de avances y retrocesos.
                  </p>
                </div>
                <div class="skill-row" style="position:relative; top:-120px">
                  <img class="chilli-img" src="static/img/lastpart.jpg" alt="last-part-img">
                  <h3>El fluir presente</h3>
                  <p>Hoy mi meta está puesta en unir dos caminos que hasta el momento parecían contrapuestos: mi vida profesional y mi propósito de vida enfocados en ayudar a otras personas. Acompañarlos desde mi vivencia y mi expertise para que las circunstancias que se anteponen en el transitar de sus vidas les resulten un poco más tolerables; que las decisiones que tomen sean desde un lugar genuino y no desde la mirada de los otros; que puedan reconocer sus deseos y conocerse a sí mismxs, y desde allí construyan su propia historia elegida.
                    No te voy a mentir, nadie dijo que va a ser cómodo. A veces, el agua nos va a llegar hasta el cuello y apenas podremos respirar; y otras nos invadirá una satisfacción y felicidad tan grandes que no pasaremos por la puerta. Siempre habrá motivos para llorar y otros para irradiar alegría. Trabajemos para que sean los segundos los que abunden en tu vida y utilicemos los otros para aprender y crecer.
                  </p>
                </div>
              </div>
            <h3 style="position:relative; top:-90px">Te animo a que recorramos juntos tu propio camino, tan único y tan especial como sos vos. <br>
              ¿Caminamos juntos?   ¡Te abrazo con el corazón!
            </h3>
            <h4 style="position:relative; top:-90px">Cris &#128151;</h4>
         </div>
      </div>
    </div>
   </div>
  </div>
  </body>
  <hr>
  {% include "footer.html" %}
