{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

{% include "header.html" %}

   <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/cita.jpeg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            {% if day_sent: %}
            <h1>La cita ha sido confirmada. &#9989;</h1>
            {% else: %}
            <h1>Programar citas</h1>
            {% endif %}
            <span class="subheading">¿Deseas agendar un encuentro?</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
        {% if current_user.is_authenticated: %}
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>El horario de atención es de Lunes a Viernes 10 a 18 hs. <br>
            Por turnos fuera de hora consultar disponibilidad por WhatsApp (+54 9 11 2604-6307). <br>
        Tener en cuenta que los horarios se expresan en hora Argentina (GMT-3)</p>
          <p>Seleccione la fecha y hora deseada.</p>
         {{ form.csrf_token() }}
         {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
             <p style="color:red">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
        {% else: %}
        <p>Por favor, para solicitar una cita se debe inicar sesión. <br>
        Si aún no te registraste, por favor, hacerlo para luego solicitar la cita.</p>
        {% endif %}
    </div>
    <!-- Check Appointments -->
        {% if current_user.id == 1: %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('get_all_appointments')}}">Ver citas</a>
        </div>
        {% endif %}
  </div>
 <hr>

  {% include "footer.html" %}
{% endblock %}