{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Agendar turno</h1>
            <span class="subheading">Deseas agendar un encuentro?.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Seleccione la fecha y hora deseada.</p>
        <form action="" method='POST' name="myform">
          {{ form.csrt_token }}
          {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </form>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}

 {% endblock %}