{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{% include "header.html" %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Agendar turno</h1>
            <span class="subheading">Turno agendado.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<body>
<h2>Results</h3>

<h4>Date is: {{session['date']}}</h4>
<h4>hour is: {{session['hour']}}</h4>

</body>

{% include "footer.html" %}
{% endblock %}
