{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/whycounseling.jpeg')}})">
    <link href="{{ url_for('static', filename='css/contact.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>¿Por qué Counseling?</h1>
            <span class="subheading">Acerca del proceso</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="middle-container">
          <div classs="profile">
            <h2>El Counseling como proceso</h2>
              <div class="skills">
                <div class="skill-row">
                  <p>Desde la <span style="color:#9933ff">Consultoría Psicológica</span> llamamos proceso a los sucesivos encuentros con fines terapéuticos (preventivos, educativos, resolutivos) que se produce entre Consultante (o Consultantes, si se trata de un grupo) y Consultor (Counselor) en pos de acompañar y favorecer en el primero, su desarrollo personal y crecimiento. Entendiendo esto último como la acción de facilitar la búsqueda de lo trascendental para cada quién, mediante la autoreflexión y re-percepción de sí mismos y las situaciones problemáticas que se le presenten, promoviendo la revisión de construcciones internas (mapas cognitivos-experienciales) que motivan sus modos de ser en el mundo. Así, pueda accionar desde un lugar de mayor libertad, responsabilidad y creatividad, previniendo el desarrollo de enfermedades psicológicas, emocionales y físicas.</p>
                  <p>Mi trabajo se sustenta en el Enfoque Centrado en la Persona, modelo creado por Carl Roger (1902-1987), uno de los fundadores de la Psicología Humanística. Se trata de construir un tipo de relación que sirva para el crecimiento y despliegue de la persona en un ambiente de calidez, libre de amenazas y juicios.</p>
                  <p>También utilizo <span style="color:#9933ff">Focusing</span> (Enfoque Corporal) como recurso natural y disponible en todo ser humano, basándome en la filosofía de Eugene Gendlin (1926-2017). Este sistematizó un modo de acercamiento a las situaciones problemáticas que vive la persona desde un sentir corporal. Este conocimiento es pre conceptual y proviene de un entramado implícito entre sentimientos, emociones, pensamientos, sensaciones. Siendo manifestado en una sola sensación corporal, es una manera más compasiva de llevar adelante procesos detenidos, favoreciendo su evolución natural.</p>
                  <p>A sí mismo, estaré sumando las herramientas del <span style="color:#9933ff">Coaching</span> para acompañar el proceso de aprendizaje de sí mismos y sus modos de ver el mundo; y de esta manera, apuntar al logro de los objetivos deseados.</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
  <hr>

  {% include "footer.html" %}